.example {
  position: relative;

  background-color: $special-grey-4;

  &::before {
    @media (min-width: $tablet-width) {
      content: "";

      position: absolute;
      top: -620px;
      left: 0;

      width: 100%;
      height: 1px;

      background-color: $special-grey-7;
    }

    @media (min-width: $desktop-width) {
      display: none;
    }
  }
}

.example__wrapper {
  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: 3fr 4fr;
    margin-top: -163px;
  }
}

.example__wrap-text {
  margin-bottom: 40px;

  @media (min-width: $tablet-width) {
    margin-top: -603px;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 0;
    margin-bottom: 29px;
  }
}

.example__wrap-info {
  margin-bottom: 5px;

  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 74px;
  }

  @media (min-width: $desktop-width) {
    display: block;
  }
}

.example__wrap-cat {
  @media (min-width: $desktop-width) {
    margin-top: -53px;
    margin-left: 50px;
  }
}

.example__title {
  margin-bottom: 33px;

  font-size: 36px;
  line-height: 40px;
  text-align: left;

  @media (min-width: $tablet-width) {
    margin-bottom: 64px;

    font-size: 60px;
    line-height: 60px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 146px;
  }
}

.example__text {
  width: 95%;
  margin-bottom: 26px;

  text-align: left;

  @media (min-width: $tablet-width) {
    width: 96%;
    margin-bottom: 53px;

    font-size: 16px;
    line-height: 24px;
  }

  @media (min-width: $desktop-width) {
    width: 84%;
    margin-bottom: 69px;
  }
}

.example__list {
  display: flex;
  margin-top: 0;
  margin-bottom: 18px;

  @media (min-width: $desktop-width) {
    margin-bottom: 52px;
  }
}

.example__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 11%;

  @media (min-width: $tablet-width) {
    margin-right: 42px;
  }
}

.example__number {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 124px;
  height: 53px;

  font-size: 24px;
  line-height: 24px;

  border: 1px solid $special-grey;
  border-radius: 3px;

  @media (min-width: $tablet-width) {
    width: 162px;
    height: 71px;
    margin-bottom: 11px;

    font-size: 30px;
    line-height: 37px;
  }
}

.example__description {
  width: 73px;
  margin: 0;
  margin-top: -6px;

  font-family: $arial;
  font-size: 12px;
  line-height: 12px;
  color: $special-dark-grey;

  background-color: $special-grey-4;

  @media (min-width: $tablet-width) {
    width: auto;
    margin-top: -19px;
    padding: 0 8px;

    font-size: 14px;
    line-height: 14px;

    background-color: $white;
  }

  @media (min-width: $desktop-width) {
    background-color: $special-grey-4;
  }
}

.example__sum {
  font-size: 14px;
  line-height: 20px;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    width: 194px;
    margin-top: 8px;
    margin-right: 2px;

    font-size: 20px;
    line-height: 29px;
    text-align: right;
  }

  @media (min-width: $desktop-width) {
    display: block;
    width: auto;

    text-align: left;
  }
}

.example__sum-space {
  @media (min-width: $desktop-width) {
    margin-right: 59px;
  }
}

// Cats

.example__fat-cat,
.example__thin-cat {
  width: 100%;
  height: 239px;
  margin-top: -5px;

  object-fit: none;

  @media (min-width: $tablet-width) {
    width: 626px;
    height: 509px;
    margin-left: 8px;
  }

  @media (min-width: $desktop-width) {
    width: 638px;
    height: 513px;
    margin-left: 22px;
    margin-top: 3px;
  }
}

.example__cat-none {
  display: none;
}

// Scale and buttons

.example__buttons {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-top: 30px;
  margin-left: 13.4%;

  @media (min-width: $tablet-width) {
    margin-top: 13px;
    margin-left: 8.7%;
  }

  @media (min-width: $desktop-width) {
    margin-top: 32px;
    margin-left: 10.9%;
  }
}

.example__button {
  margin-right: 17px;
  margin-left: 6px;
  padding: 0;

  font-family: $oswald;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;

  background-color: transparent;
  border: none;
  outline: none;

  cursor: pointer;

  @media (min-width: $tablet-width) {
    height: 32px;

    font-size: 20px;
    border-bottom: 1px dotted $transparent-2;

    &:hover {
      border-style: solid;
    }

    &:focus {
      outline: 2px solid $black;
    }

    &:hover ~ .example__scale .example__toggle {
      box-shadow:
        0 2px 4px $transparent,
        0 0 0 1px $special-grey;
    }

    &:active {
      border: none;
    }

    &:active ~ .example__scale .example__toggle {
      box-shadow:
        0 2px 4px $transparent-5,
        0 0 0 1px $basic-green;
    }
  }
}

.example__button-after {
  order: 2;

  @media (min-width: $desktop-width) {
    margin-right: 0;
    padding-right: 0;
  }
}

.example__scale {
  position: relative;

  display: flex;
  align-items: center;
  width: 35%;
  height: 14px;
  margin-right: 11px;
  padding: 6px;

  background-color: $white;
  border: 1px solid $special-grey;
  border-radius: 6px;

  @media (min-width: $tablet-width) {
    padding: 0;
    width: 67.9%;
    height: 6px;

    border: none;
    background-color: $special-grey-10;
  }

  @media (min-width: $desktop-width) {
    width: 100%;
  }
}

.example__toggle {
  width: 10%;
  height: 6px;

  background-color: $basic-green;
  border-radius: 6px;

  @media (min-width: $tablet-width) {
    width: 32px;
    height: 32px;

    border-radius: 50%;
    border: 12px solid $white;
    box-shadow:
      0 1px 3px $transparent,
      0 0 0 1px $special-grey;
  }
}

.example__toggle--after {
  width: 100%;

  transition-duration: 0.5s;

  @media (min-width: $tablet-width) {
    position: absolute;
    right: 0;

    width: 32px;
    height: 32px;

    transition-duration: 0.5s;
  }
}
