.example {
  background-color: $special-grey-4;
}

.example__wrapper {
  @media (min-width: $desktop-width) {
    display: flex;
  }
}

.example__wrap-text {
  @media (min-width: $desktop-width) {
    display: flex;
    flex-direction: column;
  }
}

.example__wrap-info {
  @media (min-width: $tablet-width) {
    display: flex;
  }
}

.example__wrap-cat {
  display: flex;
  flex-direction: column;
}

.example__title {
  margin-bottom: 33px;

  font-size: 36px;
  line-height: 40px;
}

.example__list {
  display: flex;
  margin-bottom: 25px;
}

.example__number {
  margin-bottom: 15px;

  font-size: 24px;
  line-height: 24px;
}

.example__description {
  font-family: "Arial", sans-serif;
  font-size: 12px;
  line-height: 12px;
  color: $special-dark-grey;
}

.example__sum {
  font-size: 14px;
  line-height: 20px;
  text-transform: uppercase;
}

.example__thin-cat {
  display: none;
}

.example__button {
  background-color: transparent;
  border: none;
}
