.function__title {
  margin-bottom: 38px;

  font-size: 36px;
  line-height: 40px;
}

.function__item {
  margin-bottom: 24px;

  font-family: 'Arial', sans-serif;
  font-size: 14px;
  line-height: 18px;
  color: $special-dark-grey;
}
