.option__wrapper {
  padding: 18px;
  min-height: 266px;
  margin-bottom: 30px;

  background-color: $basic-grey;

  @media (min-width: $desktop-width) {
    width: 570px;
  }
}

.option__title {
  margin-bottom: 29px;

  font-size: 24px;
  line-height: 37px;
  text-transform: uppercase;
}

.option__text {
  margin-bottom: 38px;
}

.option__link {
  font-size: 16px;
  line-height: 16px;
}
