.option__wrapper {
  margin-bottom: 20px;
  padding: 18px;

  background-color: $basic-grey;
}

.option__title {
  margin-bottom: 29px;

  font-size: 24px;
  line-height: 37px;
  text-transform: uppercase;
}

.option__text {
  margin-bottom: 38px;
}

.option__link {
  font-size: 16px;
  line-height: 16px;
}
