.promo {
  background-image: url("../../../img/index-background-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-size: 320px 305px;

  color: $white;
}

.promo__title {
  margin-bottom: 25px;

  font-size: 36px;
  line-height: 36px;
}

.promo__subtitle {
  margin-bottom: 29px;

  font-size: 14px;
  line-height: 14px;
  text-transform: uppercase;
  color: $white;
}

.promo__wrapper {
  display: flex;
  flex-direction: column;
}
