.main-button {
  display: block;
  width: 100%;
  padding: 10px 44px;

  font-size: 14px;
  line-height: 18px;
  text-align: center;
  color: $white;

  background-color: $basic-green;

  @media (min-width: $tablet-width) {
    width: 244px;
    min-height: 54px;
    padding: 17px;

    font-size: 20px;
    line-height: 20px;
  }

  @media (min-width: $desktop-width) {
    padding: 17px;
  }

  &:hover {
    background-color: $basic-green-2;
  }

  &:active {
    color: $transparent-3;
  }

  &:focus {
    outline: 2px solid $black;
  }
}

.main-button--more {
  width: auto;

  font-size: 16px;
  color: $special-dark-grey;

  background-color: $basic-grey;

  &:hover {
    background-color: $special-grey-2;
  }

  &:active {
    color: $transparent-4;
  }

  @media (min-width: $tablet-width) {
    min-height: auto;
    padding-top: 11px;
    padding-bottom: 9px;
  }
}

.main-button--product {
  grid-column: 1 / 3;
  min-height: 40px;

  font-size: 16px;

  @media (min-width: $tablet-width) {
    width: auto;
    min-height: 38px;
    padding-top: 11px;
    padding-bottom: 8px;

    line-height: 20px;
  }

  @media (min-width: $desktop-width) {
    min-height: 40px;
  }
}

.main-button--product-add {
  @media (min-width: $desktop-width) {
    grid-column: 3 / 4;
  }
}

.main-button--form {
  margin-bottom: 21px;

  font-family: inherit;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;

  outline: none;
  border: none;

  @media (min-width: $tablet-width) {
    width: auto;
    min-height: 52px;
    margin-right: 62px;
    margin-bottom: 0;
    padding-top: 0;
    padding-right: 64px;
    padding-left: 63px;


    font-size: 20px;
  }

  @media (min-width: $desktop-width) {
    width: 568px;
    margin-right: 81px;
    margin-left: -1px;
    padding-top: 11px;
    padding-right: 64px;
    padding-bottom: 12px;
    padding-left: 64px;
  }
}
