.main-button {
  display: block;
  width: auto;
  padding: 7px 44px;

  font-size: 14px;
  line-height: 18px;
  text-align: center;
  color: $white;

  background-color: $basic-green;

  @media (min-width: $tablet-width) {
    width: 248px;
    min-height: 39px;
  }

  @media (min-width: $desktop-width) {
    width: 168px;
    min-height: 40px;
  }
}

.main-button--more {
  color: $special-dark-grey;

  background-color: $basic-grey;
}

.main-button--product {
  @media (min-width: $tablet-width) {
    width: auto;
    min-height: 38px;
  }

  @media (min-width: $desktop-width) {
    min-height: 40px;
  }
}
