.card-product__title {
  margin-bottom: 18px;

  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: $special-dark-grey-2;
}

.card-product__list {
  padding: 0;
  margin: 0;

  font-family: 'Arial', sans-serif;
  font-size: 12px;
  line-height: 16px;
  color: $special-dark-grey-2;
}
