.card-add-product {
  position: relative;

  width: 100%;
  margin-bottom: 18px;
  padding-top: 13px;

  border-top: 1px solid $special-grey;

  &:first-child {
    @media (min-width: $desktop-width) {
      border-top: 1px solid $special-grey;
    }
  }

  &:last-child {
    margin-bottom: 0;
    padding-bottom: 17px;

    border-bottom: 1px solid $special-grey;

    @media (min-width: $tablet-width) {
      border: none;
    }

    @media (min-width: $desktop-width) {
      padding-bottom: 15px;

      border-bottom: 1px solid $special-grey;
    }
  }

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-bottom: 15px;
    padding: 26px 37px;
    padding-bottom: 27px;


    font-size: 16px;
    line-height: 20px;

    border-top: none;
    border-bottom: 1px solid $special-grey;
  }

  @media (min-width: $desktop-width) {
    align-items: center;
    grid-template-columns: 1fr 1fr 244px;
    gap: 40px;
    margin-bottom: 4px;
    padding: 0;
    padding-top: 16px;
    padding-bottom: 15px;
  }
}

.card-add-product--padding {
  padding-top: 12px;
}

.card-add-product__title {
  margin-bottom: 13px;
  margin-left: 2px;

  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  text-align: left;
  color: $special-dark-grey-2;

  @media (min-width: $tablet-width) {
    margin-bottom: 25px;
    margin-left: 1px;

    font-size: 20px;
    line-height: 20px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 0;
  }
}

.card-add-product__list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 14px;

  font-family: $arial;
  line-height: 14px;
  color: $special-dark-grey;

  @media (min-width: $tablet-width) {
    justify-content: flex-end;
    margin: 0;
    padding-top: 6px;
  }

  @media (min-width: $desktop-width) {
    justify-content: space-between;
  }
}

.card-add-product__value {
  @media (min-width: $tablet-width) {
    margin-left: 50px;
  }

  @media (min-width: $desktop-width) {
    margin-right: -2px;
  }
}

.card-add-product__value--margin {
  @media (min-width: $desktop-width) {
    margin-right: 7px;
  }
}

.card-add-product__number--padding {
  @media (min-width: $tablet-width) {
    margin-right: 10px;
  }
}
