.card-product {
  @media (min-width: $tablet-width) {
    position: relative;

    background-color: $basic-grey;
  }
}

.card-product__wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;

  @media (min-width: $tablet-width) {
    display: block;
  }
}

.card-product__text {
  @media (min-width: $tablet-width) {
    margin-top: 122px;
  }
}

.card-product__title {
  width: 100px;
  margin-bottom: 14px;

  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  text-align: left;
  color: $special-dark-grey-2;

  @media (min-width: $tablet-width) {
    width: 158px;
    margin-bottom: 21px;

    font-size: 20px;
    line-height: 24px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 26px;

    line-height: 21px;
  }
}

.card-product__list {
  padding: 0;
  margin: 0;

  font-family: $arial;
  font-size: 12px;
  line-height: 16px;
  color: $special-dark-grey-2;

  @media (min-width: $tablet-width) {
    margin-bottom: 40px;

    font-size: 16px;
  }
}

.card-product__value--margin {
  margin-right: 2px;
}

.card-product__item {
  display: flex;
  justify-content: space-between;

  @media (min-width: $tablet-width) {
    position: relative;

    margin-bottom: 16px;
    margin-left: -2px;

    &::after {
      content: "";

      position: absolute;
      bottom: -7px;
      left: 0;

      width: 100%;
      height: 1px;

      background-color: $special-grey-7;
    }
  }
}

.card-product__img {
  margin-top: -20px;
  margin-bottom: -3px;

  @media (min-width: $tablet-width) {
    position: absolute;
    top: -24px;
    left: 3px;

    width: 314px;
    height: 170px;
  }

  @media (min-width: $desktop-width) {
    top: -31px;
    left: -1px;
  }
}

.card-product__img--big {
  height: 143px;
  width: 147px;
  margin-top: -15px;
  margin-bottom: -7px;

  @media (min-width: $tablet-width) {
    position: absolute;
    top: -58px;
    left: -2px;

    width: 332px;
    height: 206px;
  }

  @media (min-width: $desktop-width) {
    top: -67px;
    left: 0;

    height: 200px;
  }
}

.card-product__img--big-else {
  @media (min-width: $desktop-width) {
    top: -64px;
    left: 0;

    height: 206px;
  }
}

.card-product__img--small {
  width: 124px;
  height: 133px;
  margin-top: -3px;
  margin-bottom: -9px;

  @media (min-width: $tablet-width) {
    position: absolute;
    top: -42px;
    left: 2px;

    width: 317px;
    height: 172px;
  }

  @media (min-width: $desktop-width) {
    top: -52px;
    left: -2px;

    height: 176px;
  }
}
