.more-product {
  position: relative;

  padding: 38px;

  @media (min-width: $tablet-width) {
    border: 2px solid $basic-grey;
  }
}

.more-product__icon {
  margin-bottom: 23px;

  @media (min-width: $tablet-width) {
    width: 60px;
    height: 60px;
    margin-bottom: 49px;
  }
}

.more-product__plus {
  display: none;

  @media (min-width: $tablet-width) {
    display: block;
  }
}

.more-product__plus-mobile {
  @media (min-width: $tablet-width) {
    display: none;
  }
}

.more-product__title {
  margin-bottom: 8px;

  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: $special-dark-grey-3;

  @media (min-width: $tablet-width) {
    margin-bottom: 23px;
  }
}

.more-product__subtitle {
  margin-bottom: 21px;

  @media (min-width: $tablet-width) {
    margin-bottom: 87px;
  }
}
