.more-product {
  position: relative;

  order: 3;

  @media (min-width: $tablet-width) {
    border: 2px solid $basic-grey;
  }
}

.more-product__icon {
  margin-bottom: 21px;

  @media (min-width: $tablet-width) {
    width: 60px;
    height: 60px;
    margin-bottom: 46px;
  }
}

.more-product__plus {
  display: none;

  @media (min-width: $tablet-width) {
    display: block;
  }
}

.more-product__plus-mobile {
  @media (min-width: $tablet-width) {
    display: none;
  }
}

.more-product__title {
  margin-bottom: 8px;

  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: $special-dark-grey-3;

  @media (min-width: $tablet-width) {
    width: 70%;
    margin-right: auto;
    margin-bottom: 23px;
    margin-left: auto;

    font-size: 20px;
    line-height: 22px;
  }

  @media (min-width: $desktop-width) {
    width: 80%;
  }
}

.more-product__subtitle {
  margin-bottom: 21px;

  font-size: 12px;
  line-height: 16px;

  @media (min-width: $tablet-width) {
    width: 70%;
    margin-right: auto;
    margin-bottom: 85px;
    margin-left: auto;

    font-size: 16px;
    line-height: 18px;
  }

  @media (min-width: $desktop-width) {
    width: 100%;
  }
}
