form {
  font-size: 16px;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 30px;
  }
}

.form__wrapper--grid,
.form__list--grid {
  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 80px;
  }
}


.form__wrapper--button {
  @media (min-width: $tablet-width) {
    display: flex;
    align-items: center;
  }
}

.form__list--target {
  padding: 22px 0;

  @media (min-width: $tablet-width) {
    padding-top: 25px;
    padding-left: 28px;
    padding-bottom: 29px;
  }
}


.form__legend {
  margin-bottom: 32px;

  font-size: 24px;
  line-height: 26px;
  text-align: left;

  @media (min-width: $tablet-width) {
    font-size: 36px;
    line-height: 36px;
  }
}

.form__legend br {
  @media (min-width: $tablet-width) {
    display: none;
  }
}

.form__fieldset {
  margin-bottom: 26px;
  padding: 0;

  border: none;
}

.form__fieldset--target {
  border: 1px solid $special-grey-5;
}

.form__item {
  display: flex;
  align-items: center;
  margin-bottom: 13px;

  &:last-child {
    margin-bottom: 0;
  }

  @media (min-width: $tablet-width) {
    margin-bottom: 20px;
  }
}

.form__item--contact {
  @media (min-width: $desktop-width) {
    margin-bottom: 0;
  }
}

.form__label {
  margin-right: 11px;

  text-transform: uppercase;
  color: $special-dark-grey;
  white-space: nowrap;
}

.form__input,
.form__textarea {
  width: 100%;
  padding: 14px;
  box-sizing: border-box;

  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  text-transform: uppercase;
  color: $special-dark-grey;

  border: 1px solid $special-grey-5;

  &::placeholder {
    color: $special-dark-grey;
  }
}

.form__textarea--height {
  min-height: 150px;
}

.form__label--black {
  color: $black;
}

.form__text {
  font-size: 14px;
  line-height: 16px;

  @media (min-width: $tablet-width) {
    font-size: 16px;
  }
}
