.page-header {
  margin-top: 11px;
  margin-bottom: 11px;

  @media (min-width: $tablet-width) {
    margin-bottom: 65px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 91px;
  }
}

.page-header__wrapper {
  display: flex;
  flex-direction: column;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 1fr 3fr;
    align-items: center;
    gap: 64px;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: 40% 1fr;
  }
}

.page-header__top-wrap {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.page-header__toggle {
  width: 22px;
  height: 22px;
  margin-top: 10px;

  background-repeat: no-repeat;
  border: none;
  background-color: transparent;

  cursor: pointer;

  @media (min-width: $tablet-width) {
    display: none;
  }
}

.page-header__toggle--opened {
  background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath transform='scale(.97098 1.0282) rotate(-45 24.51 7.237)' stroke='%23000' stroke-width='1.5' d='M0-.75h24.758'/%3E%3Cpath transform='matrix(.68659 .72705 -.68659 .72705 1 2)' stroke='%23000' stroke-width='1.5' d='M0-.75h24.758'/%3E%3C/svg%3E");
}

.page-header__toggle--closed {
  background-image: url("data:image/svg+xml,%3Csvg width='24' height='18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='%23000' stroke-width='1.5' d='M0 1.25h24M0 9.25h24M0 17.25h24'/%3E%3C/svg%3E");
}

.page-header__toggle--nojs {
  opacity: 0;
}
