.page-header__wrapper {
  display: flex;
  flex-direction: column;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}

.page-header__logo {
  height: 65px;

  background-image: url("../../../img/logo-mobile.svg");
  background-repeat: no-repeat;
  background-size: 180px 38px;

  @media (min-width: $tablet-width) {
    height: 98px;
  }

  @media (min-width: $desktop-width) {
    height: 165px;
  }
}

.page-header__toggle {
  display: none;
}
