.page-header {
  position: relative;

  margin-top: 20px;
  margin-bottom: 9px;

  @media (min-width: $tablet-width) {
    margin-top: 9px;
    margin-bottom: 66px;
  }

  @media (min-width: $desktop-width) {
    position: relative;
    z-index: 1;

    margin-top: 37px;
    margin-bottom: 91px;
  }

  &::after {
    content: "";

    position: absolute;
    bottom: -10px;
    left: 0;

    width: 100vw;
    height: 1px;
    background-color: $special-grey-7;

    @media (min-width: $tablet-width) {
      display: none;
    }
  }
}

.page-header--other-page {
  @media (min-width: $tablet-width) {
    margin-bottom: 28px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 42px;
  }
}

.page-header--form {
  @media (min-width: $desktop-width) {
    margin-bottom: 41px;
  }
}

.page-header__wrapper {
  display: flex;
  flex-direction: column;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 174px 1fr;
    gap: 95px;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: 202px 1fr;
    gap: 539px;
  }
}

.page-header__top-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: -9px;
  margin-bottom: 4px;

  @media (min-width: $tablet-width) {
    display: block;
    margin-top: 16px;
  }
}

.page-header__toggle {
  width: 22px;
  height: 22px;

  background-repeat: no-repeat;
  border: none;
  background-color: transparent;

  cursor: pointer;

  @media (min-width: $tablet-width) {
    display: none;
  }
}

.page-header__toggle--opened {
  background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath transform='scale(.97098 1.0282) rotate(-45 24.51 7.237)' stroke='%23000' stroke-width='1.5' d='M0-.75h24.758'/%3E%3Cpath transform='matrix(.68659 .72705 -.68659 .72705 1 2)' stroke='%23000' stroke-width='1.5' d='M0-.75h24.758'/%3E%3C/svg%3E");
}

.page-header__toggle--closed {
  background-image: url("data:image/svg+xml,%3Csvg width='24' height='18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='%23000' stroke-width='1.5' d='M0 1.25h24M0 9.25h24M0 17.25h24'/%3E%3C/svg%3E");
}

.page-header__toggle--nojs {
  opacity: 0;
}

.page-header__main-nav {
  margin-top: 32px;

  @media (min-width: $tablet-width) {
    margin-top: 33px;
  }
}
