.site-list__link {
  font-size: 20px;
  line-height: 20px;
  font-weight: 500;

  @media (min-width: $tablet-width) {
    font-size: 18px;
    line-height: 24px;
    font-weight: 400;
  }

  @media (min-width: $desktop-width) {
    font-size: 20px;
    line-height: 30px;
    color: $white;
  }

  &:hover:not(.site-list__link--active) {
    opacity: 0.6;
  }

  &:active:not(.site-list__link--active) {
    opacity: 0.3;
  }
}

.site-list__link--black {
  @media (min-width: $desktop-width) {
    color: $special-dark-grey-3;
  }
}

.site-list__item {
  position: relative;

  margin-bottom: 45px;

  @media (min-width: $tablet-width) {
    margin-bottom: 12px;

    border: none;
  }

  &:last-child {
    margin-bottom: 11px;
  }

  &::after,
  &:first-child::before {
    content: "";

    position: absolute;
    bottom: -22px;
    left: -30px;

    width: 103vw;
    height: 1px;
    background-color: $special-grey-7;

    @media (min-width: $tablet-width) {
      display: none;
    }
  }

  &:first-child::before {
    top: -23px;
  }

  &:nth-child(2)::after {
    bottom: -21px;
  }

  &:last-child::after {
    bottom: -20px;
  }
}

.site-list__item--active {
  @media (min-width: $tablet-width) {
    height: 34px;
    border-bottom: 2px solid $basic-green;
  }

  @media (min-width: $desktop-width) {
    height: 37px;
  }
}

.site-list__item--active-other-page {
  @media (min-width: $tablet-width) {
    height: 32px;
  }

  @media (min-width: $desktop-width) {
    height: 38px;
  }
}

.site-list__item--white {
  @media (min-width: $desktop-width) {
    border-color: $white;
  }
}
