// Colors

$basic-green: #68b738;
$basic-green-2: #5eaa2f;
$basic-grey: #f2f2f2;
$special-grey: #cdcdcd;
$special-grey-2: #ebebeb;
$special-grey-3: #666666;
$special-grey-4: #eaeaea;
$special-grey-5: #e7e7e7;
$special-grey-6: #d9d9d9;
$special-grey-7: #e6e6e6;
$special-grey-8: #d3d3d3;
$special-grey-9: #dddddd;
$special-grey-10: #dcdcdc;
$special-dark-grey: #444444;
$special-dark-grey-2: #222222;
$special-dark-grey-3: #111111;
$status-error: #ff8282;
$white: #ffffff;
$black: #000000;
$transparent: rgba(0, 0, 0, 0.16);
$transparent-2: rgba(0, 0, 0, 0.24);

// Viewports

$tablet-width: 768px;
$desktop-width: 1440px;
$mobile-width-only: 767px;

// Fonts

$oswald: "Oswald", "Verdana", sans-serif;
$arial: "Arial", sans-serif;
