.copyright__link {
  display: flex;
  justify-content: space-between;
  align-items: center;

  font-family: "Arial", sans-serif;
  font-size: 16px;
  text-transform: none;
  color: $special-dark-grey;

  @media (min-width: $tablet-width) {
    width: 155px;
  }
}

.copyright__icon {
  fill: $special-grey-3;
}
