.page-footer {
  background-color: $basic-grey;
}

.page-footer__wrapper {
  @media (min-width: $tablet-width) {
    height: 146px;

    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
