.page-footer {
  position: relative;

  background-color: $basic-grey;
}

.page-footer__background-wrap {
  background-color: $white;
}

.page-footer__wrapper {
  padding-top: 37px;
  padding-bottom: 22px;

  @media (min-width: $tablet-width) {
    height: 146px;

    display: grid;
    grid-template-columns: min-content 1fr min-content;
    justify-content: space-between;
  }

  @media (min-width: $desktop-width) {
    padding-top: 42px;
  }
}

.page-footer__address {
  display: flex;
  justify-content: space-between;
}

.page-footer__logo {
  display: block;
  margin-bottom: 28px;

  @media (min-width: $tablet-width) {
    margin: 0;
    padding-top: 20px;
  }

  @media (min-width: $tablet-width) {
    padding-top: 18px;
  }
}

.page-footer__social {
  margin-bottom: 22px;
}

.page-footer__copyright {
  @media (min-width: $tablet-width) {
    align-self: start;
    padding-top: 14px;
  }
}
